@charset "ISO-8859-1";

* {
	margin: 0 auto;
	padding: 0;
	text-align: center;
}



body {

    background-color: #f1c0d6;
}

h1 {
	font-family: 'Graduate', cursive;
	font-size: 50px;
}

h2 {
	font-family: 'Ysabeau SC', sans-serif;
	font-size: 40px;
}

h3 {
	font-family: 'Ysabeau SC', sans-serif;
	font-size: 30px;
}

h4 {
	font-family: 'Ysabeau SC', sans-serif;
	font-size: 20px;
}

p {
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
}

a {
	text-decoration: none;
	color: red;
}

.danger {
	background-color: red;
	color: white;
}

.warning {
	background-color: yellow;
}


.button-small {
	width: 100px;
	height: 30px;
	border-radius: 10px;
	box-shadow: 1px 1px 1px black;
}

.button-medium {
	width: 150px;
	height: 30px;
	border-radius: 10px;
	box-shadow: 1px 1px 1px black;
}


.button-long {
	width: 250px;
	height: 30px;
	border-radius: 10px;
	box-shadow: 1px 1px 1px black;
}

.marked {
	background-color: black;
	color: white;
}

.padding {
	padding: 20px;
}

.extra-padding {
	padding: 30px;
}

/* restaurantDashboard */

.item-thumb {
	width: 150px;
	height: 150px;
	border-radius: 10px;
	box-shadow: 3px 3px 3px black;
}

.my-items {
	display: flex;
	width: 60%;
	flex-wrap: wrap;
	justify-content: center;
}

.one-item {
	display: inline-block;
	width: 200px;
	margin: 10px;
}

.avatar-thumb-sm {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	box-shadow: 2px 5px 5px black;
}


/* editUserProfile */
.upload-form {
	padding: 20px;
}

.edit-profile-form {
	width: 60%;
}

.upload {
	padding: 20px;
}

.error-message {
	font-size: 12px;
  	color: red;
}


/* editRestaurantProfile */

.avatar-thumb {
	width: 250px;
	height: 250px;
	border-radius: 100%;
	border: 5px solid blue;
}

/* editMenu */

.one-edit-item {
	display: inline-block;
	width: 200px;
	margin: 10px;
}

.all-items-edit {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 60%;
}

.item-picture {
	width: 100%;
}

/* restaurantDisplay */

.menu {
	width: 60%;
}

.average-rating {
	padding: 10px;
	margin-top: -10px;
}

#reviews {
	margin-top: 20px;
}


.one-category {
	width: 60%;
}

.one-menu-item {
	display: flex;
	align-items: center;
	padding: 10px;
}

.item-name-and-pic {
	width: 200px;
	
}

.description-and-price {
	width: 400px;
}

.restaurant-name {
	margin-top: 20px;
}

.logo-and-stars {
	display: flex;
	align-items: center;
	width: 40%;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 2px 2px 2px black;
	background-image: url('../img/box-bg.jpg');
}

.one-review {
	display: flex;
	width: 50%;
	padding: 10px;
	border-bottom: 1px solid grey;
	margin-top: 10px;
	margin-bottom: 10px;
	align-items: center;
}



.user_of_review {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.review {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 20px;
	background-image: url('../img/comment-bg.jpg');
	box-shadow: 2px 2px 2px grey;
	margin-bottom: 10px;
}

.review-stars {
	margin-top: 20px;
}

.review-date {
	margin-top: -10px;
	margin-bottom: 5px;
	font-size: x-small;
}

.review-text {
	width: 400px;
	height: 100px;
	overflow-y: auto;
	display: flex;
	align-items: center;
	font-style: italic;
}


.star-rating {
	width: 200px;
}

.main-star-rating {
	width: 350px;
	padding: 10px;
}

#all-comments{
	display: none;
}

.small-font {
	font-size: 17px;
}

.down-right-arrow {
	width: 30px;
}

.comment-form form .form-error {
  font-size: 12px;
  color: red;
}

.comment-form {
	margin-bottom: 10px;
	margin-top: 10px;
}


.comment-text-area {
	width: 200px;
	height: 50px;
	border-radius: 10px;
}

.avatar-thumb-xtra-sm {
	width: 70px;
	height: 70px;
	border-radius: 100%;
	box-shadow: 2px 2px 2px black;
}

.commenter-name {
	width: 110px;
}

.one-comment {
	display: flex;
	align-items: center;
	width: 300px;
}

.one-comment h4 {
	font-size: 16px;
}

.one-comment p {
	font-size: 15px;
}

.name-and-logo {
	width: 100px;
}

.comment-text {
	width: 300px;
	height: 100px;
	overflow-y: auto;
	display: flex;
	align-items: center;
}

.like-area {
	display: flex;
	width: 100px;
	align-items: center;
	position: relative;
	left: 10px;
}

.like-area p {
	font-size: x-small;
}

.like-button {
	width: 30px;
}

.order-and-review-buttons {
	padding: 20px;
	margin-top: 10px;
}

.comment-and-icon {
	display: flex;
	align-items: center;
	width: 150px;
}

.small-icon {
	width: 20px;
}

/* itemDisplay */

.item-thumb-display {
	width: 350px;
	height: 350px;
	border-radius: 10px;
	box-shadow: 2px 2px 2px black;
}

/* addItemPicture */

.no-image-display {
	width: 150px;
	height: 150px;
	border-radius: 10px;
}

/* userDashboard */

.all-restaurants {
	display: flex;
	width: 60%;
	flex-wrap: wrap;
	justify-content: center;
}

.all-users {
	display: flex;
	width: 60%;
	flex-wrap: wrap;
	justify-content: center;
}

.bag-div {
	margin-top: 10px;
}

.bag-icon {
	width: 50px;
}

.bag-notification {
	color: white;
	width: 30px;
	border-radius: 100%;
	background-color: red;
	border: 2px solid red;
	position: relative;
	bottom: 20px;
	left: 20px;
	
}

.bag-notification p {
	font-style: bold;
	font-size: 25px;
}

.profile-div {
	margin-top: 10px;
	margin-bottom: 10px;
}

.nav-buttons {
	margin-bottom: 10px;
}

/* newReview */
.review-text-area {
	width: 400px;
	height: 200px;
	border-radius: 10px;
}

.ratings {
	display: flex;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%) rotateY(180deg);
}

.ratings input[type="radio"] {
	display: none;
}

.ratings label {
	display: block;
	cursor: pointer;
	width: 50px;
}

.ratings label:before {
	content: '\f005';
	font-family: fontAwesome;
	position: relative;
	display: block;
	font-size: 50px;
	color: #101010;
}

.ratings label:after {
	content: '\f005';
	font-family: fontAwesome;
	position: absolute;
	display: block;
	font-size: 50px;
	color: #1f9cff;
	top: 0;
	margin-left: 2px;
	opacity: 0;
	transition: .5s;
	text-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.ratings label:hover:after,
.ratings label:hover ~ label:after,
.ratings input:checked ~ label:after {
	opacity: 1;	
}

.review-form {
	margin-top: 20px;
}


/* newOrder */

.one-food-item {
	display: flex;
	align-items: center;
	width: 60%;
} 

.item-thumb-sm {
	width: 80px;
	height: 80px;
	border-radius: 10px;
}

.item-name {
	width: 200px;
}

.item-description {
	max-width: 200px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.item-price {
	width: 200px;
}

.quantity-input {
	width: 50px;
	height: 25px;
	text-align: center;
}

.quantity-and-add {
	width: 250px;
}

.add-button {
	width: 100px;
	height: 30px;
	border-radius: 5px;
}

/* bagDisplay */

.avatar-thumb-med {
	width: 150px;
	height: 150px;
	border-radius: 100%;
	box-shadow: 2px 5px 5px black;
}

.one-order {
	padding: 2rem;
	width: 60%;
}

.order-restaurant {
	display: flex;
	align-items: center;
	width: 40%;
}

.order-info {
	width: 100px;
}

.order-price {
	width: 100px;
	text-align: center;
}

.restaurant-name-bag {
	width: 300px;
}

.order-quantity {
	display: flex;
	width: 100px;
	align-items: center;
	border: 1px solid grey;
	border-radius: 10px;
}

.quantity-button {
	width: 32px;
	height: 32px;
	margin-top: 5px;
}

.one-order-item {
	display: flex;
	align-items: center;
	border-bottom: 1px solid grey;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 70%;
}

.order-total {
	padding: 10px;
}

.remove-order {
	margin-top: 10px;
}

/* userDisplay */


.user-review {
	background-image: url('../img/comment-bg.jpg');
	box-shadow: 2px 2px 2px grey;
	border-radius: 10px;

}