@charset "ISO-8859-1";

* {
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

/* restaurantDashboard */

.item-thumb {
	width: 150px;
	height: 150px;
	border-radius: 10px;
}

.my-items {
	display: flex;
}

.one-item {
	text-align: center;
}

.avatar-thumb-sm {
	width: 100px;
	height: 100px;
	border-radius: 100%;
}

/* editRestaurantProfile */

.avatar-thumb {
	width: 250px;
	height: 250px;
	border-radius: 100%;
}

/* editMenu */

.one-edit-item {
	display: flex;
	flex-direction: column;
}


/* restaurantDisplay */

.menu {
	width: 60%;
}

#reviews {
	margin-top: 20px;
}


.one-category {
	width: 60%;
}

.one-menu-item {
	display: flex;
	align-items: center;
	padding: 10px;
}

.item-name-and-pic {
	width: 200px;
	
}

.description-and-price {
	width: 400px;
}


.one-review {
	display: flex;
	width: 50%;
	padding: 10px;
	border-bottom: 1px solid grey;
	margin-bottom: 10px;
	align-items: center;
}

.user_of_review {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.review {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.review-date {
	font-size: x-small;
}

.review-text {
	width: 400px;
	height: 100px;
	overflow-y: auto;
	display: flex;
	align-items: center;
}


.star-rating {
	width: 200px;
}

.main-star-rating {
	width: 350px;
}

#all-comments{
	display: none;
}

.small-font {
	font-size: 15px;
}

.down-right-arrow {
	width: 30px;
}

.comment-form form .form-error {
  font-size: 12px;
  color: red;
}

.comment-form {
	margin-bottom: 10px;
}


.comment-text-area {
	width: 200px;
	height: 50px;
	border-radius: 10px;
}

.avatar-thumb-xtra-sm {
	width: 70px;
	height: 70px;
	border-radius: 100%;
}

.one-comment {
	display: flex;
	align-items: center;
}

.one-comment p {
	font-size: small;
}

.comment-text {
	width: 300px;
	height: 100px;
	overflow-y: auto;
	display: flex;
	align-items: center;
}

.like-area {
	display: flex;
	align-items: center;
	width: 100px;
}

.like-area p {
	font-size: x-small;
}

.like-button {
	width: 30px;
}

/* itemDisplay */

.item-thumb-display {
	width: 350px;
	height: 350px;
}

/* addItemPicture */

.no-image-display {
	width: 200px;
	height: 200px;
	border-radius: 10px;
}

/* userDashboard */

.all-restaurants {
	display: flex;
}

.all-users {
	display: flex;
}

.bag-icon {
	width: 50px;
}

/* newReview */
.review-text-area {
	width: 400px;
	height: 200px;
	border-radius: 10px;
}

.ratings {
	display: flex;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%) rotateY(180deg);
}

.ratings input[type="radio"] {
	display: none;
}

.ratings label {
	display: block;
	cursor: pointer;
	width: 50px;
}

.ratings label:before {
	content: '\f005';
	font-family: fontAwesome;
	position: relative;
	display: block;
	font-size: 50px;
	color: #101010;
}

.ratings label:after {
	content: '\f005';
	font-family: fontAwesome;
	position: absolute;
	display: block;
	font-size: 50px;
	color: #1f9cff;
	top: 0;
	margin-left: 2px;
	opacity: 0;
	transition: .5s;
	text-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.ratings label:hover:after,
.ratings label:hover ~ label:after,
.ratings input:checked ~ label:after {
	opacity: 1;	
}

/* newOrder */

.one-food-item {
	display: flex;
	align-items: center;
	width: 60%;
} 

.item-thumb-sm {
	width: 80px;
	height: 80px;
	border-radius: 10px;
}

.item-name {
	width: 200px;
}

.item-description {
	max-width: 200px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.item-price {
	width: 200px;
}

.quantity-input {
	width: 50px;
	height: 25px;
	text-align: center;
}

.quantity-and-add {
	width: 250px;
}

.add-button {
	width: 100px;
	height: 30px;
	border-radius: 5px;
}

/* bagDisplay */

.avatar-thumb-med {
	width: 150px;
	height: 150px;
	border-radius: 100%;
}

.one-order {
	padding: 2rem;
	width: 60%;
}

.order-restaurant {
	
}

.order-quantity {
	display: flex;
	width: 100px;
	align-items: center;
	border: 1px solid grey;
	border-radius: 10px;
}

.quantity-button {
	width: 32px;
	height: 32px;
	margin-top: 5px;
}

.one-order-item {
	display: flex;
	align-items: center;
}